<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Candidatos Recientes</h2>
            <a href="#" class="btn">Ver todos</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Status</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Star Refrigerator</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>

                <!-- Otras filas de datos de la tabla aquí -->
            </tbody>
        </table>
    </div>
</div>